div.img-wrapper{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 20px;
    background: #FFF;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}